<mat-card class="card">
  <mat-checkbox
    color="white"
    class="card__checkbox large"
    (change)="onCheck(user.id)"
    [checked]="selectedUsersIds.includes(user.id)"
  ></mat-checkbox>
  <div class="img-wrapper">
    <img
      mat-card-image
      src="https://material.angular.io/assets/img/examples/shiba2.jpg"
      alt="Photo of a Shiba Inu"
    />
  </div>

  <mat-card-content class="card__content">
    <p><span> Username : </span>{{ user.firstName + " " + user.lastName }}</p>
    <p><span> Email :</span> {{ user.email }}</p>
    <p><span> Phone :</span> {{ user.phone }}</p>
  </mat-card-content>
</mat-card>
