<mat-toolbar>
  <div class="actions">
    <button
      mat-button
      (click)="onSelectAll()"
      [disabled]="!(users$ | async)?.length"
    >
      Select all
    </button>
    <button
      mat-button
      color="warn"
      (click)="onDelete()"
      [disabled]="!selectedUsersIds.length"
    >
      Delete
    </button>
    <button mat-button color="primary" (click)="onAdd()">Add</button>
    <mat-form-field appearance="fill">
      <mat-label>Sorting order</mat-label>
      <mat-select
        [(value)]="selectedSort"
        (selectionChange)="onSortChange(selectedSort)"
      >
        <mat-option *ngFor="let option of sortOptions" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="searchBar">
    <mat-form-field appearance="fill" (input)="onSearchChange($event)">
      <mat-label>Search</mat-label>
      <input matInput />
    </mat-form-field>
  </div>
</mat-toolbar>
